{% extends 'base.html.twig' %}

{% block title %}About me, skills, contact{% endblock %}
{% block description %}Information about author and projects. Summary of IT skills. Links to profiles and contact e-mail.{% endblock %}
{% set language = 'en' %}

{% block content %}
    <article class="main__content">
        <div class="section">
            <div class="container">
                <h1 class="section__main-title">{{ block('title') }}</h1>
                <p>Thank you for visiting on the site. Unfortunately, most of my activities and content is provided only in Polish language. On this page, I prepared a summary in English.</p>

                <p>My name is Arkadiusz Waluk. I'm a PHP programmer and web developer from Poland. I have been interested about computers since I was child. I graduated from technical school with technician title. Currently I work as a PHP developer, but I also like server administration, front-end and more.</p>

                <p>I'm a creator of PHP course <a href="https://www.phpdevs.pl" rel="noopener">PHPDevs</a>. It is online tutorial about PHP from basics. I'm also the administrator of Polish forum about IT - <a href="https://forum.pasja-informatyki.pl" rel="noopener">Forum Pasja Informatyki</a>.</p>
            </div>
        </div>

        <section class="section section--dark">
            <div class="container">
                <h2 id="skills" class="section__title">Skills</h2>

                <p>I work mostly with:</p>
                <ul class="box-list">
                    <li class="box-list__item">PHP with OOP</li>
                    <li class="box-list__item">Laravel</li>
                    <li class="box-list__item">Symfony</li>
                    <li class="box-list__item">PHPUnit, tests</li>
                    <li class="box-list__item">REST API</li>
                </ul>

                <p>I know and want to learn more about:</p>
                <ul class="box-list">
                    <li class="box-list__item">JavaScript</li>
                    <li class="box-list__item">Vue</li>
                    <li class="box-list__item">HTML</li>
                    <li class="box-list__item">CSS</li>
                    <li class="box-list__item">MySQL</li>
                    <li class="box-list__item">PostgreSQL</li>
                </ul>

                <p>I use regularly:</p>
                <ul class="box-list">
                    <li class="box-list__item">Linux</li>
                    <li class="box-list__item">Docker</li>
                    <li class="box-list__item">PhpStorm</li>
                    <li class="box-list__item">Git</li>
                    <li class="box-list__item">Composer</li>
                    <li class="box-list__item">Xdebug</li>
                </ul>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h2 id="contact" class="section__title">Contact</h2>
                <p>Look at my profiles:</p>
                <ul class="section__list">
                    <li><a href="https://www.linkedin.com/in/arkadiusz-waluk/" rel="noopener noreferrer">LinkedIn</a></li>
                    <li><a href="https://github.com/{{ site.social.github }}" rel="noopener noreferrer">GitHub</a></li>
                    <li><a href="https://www.facebook.com/{{ site.social.facebook }}" rel="noopener noreferrer">Facebook</a></li>
                    <li><a href="https://www.instagram.com/{{ site.social.instagram }}/" rel="noopener noreferrer">Instagram</a></li>
                    <li><a href="https://twitter.com/{{ site.social.twitter }}" rel="noopener noreferrer">Twitter</a></li>
                </ul>
                <p>You can write me an e-mail, but please send only cooperation propositions or other important messages/suggestions. Currently I'm not interested about execution of individual jobs. I also don't plan to move abroad for work.</p>
                <p>E-mail: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            </div>
        </section>
    </article>
{% endblock %}
