{% extends 'base.html.twig' %}

{% block title %}Arkadiusz Waluk — programista back-end i PHP, web developer{% endblock %}
{% block description %}Strona Arkadiusza Waluka, programisty back-end i PHP, web developera. Umiejętności, biografia, blog informatyczny i sposoby kontaktu.{% endblock %}
{% set logoH1 = true %}

{% block content %}
    <section class="container container--lg section index-part">
        <article class="index-part__container index-part__container--top">
            <div>
                <p class="index-part__title">Cześć!</p>
                <p class="index-part__description">Nazywam się Arkadiusz Waluk. Od kilku lat jestem programistą, <span class="no-break">back-end</span> developerem, specjalizującym się w PHP.</p>
                <div class="index-part__button-container">
                    <a href="{{ path('page_about') }}" class="index-part__button button">O mnie</a>
                </div>
            </div>
            <div class="index-part__image-container">
{#                <img src="{{ asset('build/images/index.jpg') }}" alt="" class="index-part__image">#}
            </div>
        </article>
    </section>

    <section class="section section--color index-part">
        <div class="container container--lg index-part__container">
            <article>
                <h2 class="section__title">Kontakt</h2>
                <div class="content">
                    <p>Masz pytania lub sugestię? Chciałbyś wysłać mi propozycję współpracy? Potrzebujesz strony dla siebie lub swojej firmy?</p>
                </div>
                <div class="index-part__button-container">
                    <a href="{{ path('page_contact') }}" class="index-part__button button">Napisz do mnie</a>
                </div>
            </article>
            <article>
                <h2 class="section__title">English</h2>
                <div class="content">
                    <p>Don't you speak Polish? I have prepared short summary of information about me in English.</p>
                </div>
                <div class="index-part__button-container">
                    <a href="{{ path('page_english') }}" class="index-part__button button">Read more</a>
                </div>
            </article>
        </div>
    </section>

    <section class="section index-part">
        <div class="container container--lg">
            <h2 class="section__title">Ostatnio na blogu</h2>
            {{ render_latest_posts(3) }}
            <div class="index-part__button-container">
                <a href="{{ path('blog_index') }}" class="index-part__button button button--center">Zobacz więcej</a>
            </div>
        </div>
    </section>
{% endblock %}
