{% extends 'base.html.twig' %}

{% block title %}Polityka prywatności{% endblock %}
{% block description %}Informacje na temat przetwarzania danych, bezpieczeństwie oraz ciasteczkach używanych na stronie.{% endblock %}

{% block content %}
    <div class="container container--sm content">
        <h1 class="main__title">{{ block('title') }}</h1>

        <h2>Informacje ogólne</h2>
        <p>Niniejszy serwis jest witryną informacyjną wraz z blogiem.</p>
        <p>Administratorem Twoich danych osobowych oraz osobą zarządzającą witryną jest Arkadiusz Waluk, kontakt: <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>

        <h2>Bezpieczeństwo danych</h2>
        <p>Zapewniam, że wszelkie dane osobowe przechowywane są zgodnie z najwyższymi standardami oraz należycie chronione przed dostępem osób nieuprawnionych. Nie będą one nigdy udostępnione bez Twojej wiedzy i zgody (z wyjątkiem obowiązków wynikających z przepisów prawa). Ponadto witryna korzysta z szyfrowania SSL, dzięki któremu wszystkie przesyłane dane pozostają bezpieczne.</p>

        <h2>Cel przetwarzania danych</h2>
        <p>W celu dodania komentarza obowiązkowe jest podanie nazwy użytkownika oraz adresu e-mail. Dodatkowo zapisywany jest Twój adres IP. Dane zbierane są w celu weryfikacji i identyfikacji komentarzy, na podstawie artykułu 6 RODO. Przechowywane będą do momentu, gdy Twój komentarz będzie dostępny w serwisie. Podanie danych jest dobrowolne, jednak niezbędne do napisania komentarza. Niniejsze dane osobowe przetwarzane są przez firmę Disqus, Inc.</p>
        <p>Masz prawo usunięcia swoich danych, co jednak wiąże się z usunięciem napisanego komentarza. W tym celu należy powiadomić mnie o tym fakcie, bądź (jeśli posiadasz) zalogować się na swoje konto Disqus i usunąć wybrany komentarz lub komentarze.</p>

        <h2>Pliki cookies</h2>
        <p>Witryna korzysta z ciasteczek zwanych również cookie, cookies czy plikami cookie. Są one zapisywane na Twoim urządzeniu. Dzięki nim serwis może działać i lepiej dostosowywać się do użytkownika.</p>
        <p>Wykorzystywane są w szczególności ciasteczka:</p>
        <ul>
            <li>służące personalizacji witryny, dostosowania wyświetlania komunikatów,</li>
            <li>zbierające statystyki na temat witryny, jak i użytkownika (Google Analytics),</li>
            <li>przechowujące informacje na temat systemu komentarzy (Disqus).</li>
        </ul>
        <p>Masz prawo nie godzić się na zapisywanie ciasteczek na Twoim urządzeniu. Możesz je usunąć lub zablokować. Miej jednak na uwadze, że może to utrudnić korzystanie ze strony.</p>

        <h2>Twoje prawa</h2>
        <p>W przypadku chęci uzyskania dostępu do danych osobowych, niejasności lub problemów z niniejszą polityką prywatności czy przetwarzaniem danych osobowych zachęcam do kontaktu ze mną poprzez adres e-mail: <a href="mailto:{{ site.email }}">{{ site.email }}</a>. Odpowiadam niezwłocznie, najszybciej jak to możliwe.</p>
        <p>Pamiętaj, że przysługuje Ci prawo dostępu, sprostowania, przenoszenia oraz usuwania Twoich danych. Możesz ponadto zażądać ich usunięcia, wnieść sprzeciw lub wycofać zgodę na ich przetwarzanie jeśli takowa została udzielona.</p>
        <p>Zgodnie z prawem zawsze przysługuje Ci także możliwość złożenia skargi do organu nadzorczego - Urzędu Ochrony Danych Osobowych.</p>

        <p><b>Aby uzyskać więcej informacji, zapoznaj się również z <a href="https://policies.google.com/privacy?hl=pl" rel="noopener noreferrer">polityką prywatności usług Google</a> oraz <a href="https://help.disqus.com/terms-and-policies/disqus-privacy-policy" rel="noopener noreferrer">polityką prywatności systemu komentarzy Disqus</a>.</b></p>
    </div>
{% endblock %}
