<header class="header" id="header">
    <div class="header__container container">
        <button class="header__button" id="header-nav-toggle">
            <span class="header__button--bar"></span>
            <span class="header__button--bar"></span>
            <span class="header__button--bar"></span>
        </button>
        <a href="{{ url('page_index') }}" class="header__logo">
            {{ site.name }}
        </a>
        <div class="header__navigation" id="header-nav">
            <nav class="top-nav">
                <ul class="top-nav__list">
                    <li class="top-nav__item">
                        <a href="{{ url('page_about') }}" class="top-nav__link {{ app.request.get('_route') == 'page_about' ? 'top-nav__link--active' : '' }}">O mnie</a>
                    </li>
                    <li class="top-nav__item">
                        <a href="{{ url('page_contact') }}" class="top-nav__link {{ app.request.get('_route') == 'page_contact' ? 'top-nav__link--active' : '' }}">Kontakt</a>
                    </li>
                    <li class="top-nav__item">
                        <a href="{{ url('blog_index') }}" class="top-nav__link top-nav__link--highlighted {{ app.request.get('_route') == 'blog_index' ? 'top-nav__link--active' : '' }}">Blog</a>
                    </li>
                    <li class="top-nav__item top-nav__item--separator">&bullet;</li>
                    <li class="top-nav__item">
                        <a href="{{ url('page_english') }}" class="top-nav__link {{ app.request.get('_route') == 'page_english' ? 'top-nav__link--active' : '' }}">English</a>
                    </li>
                    <li class="top-nav__item top-nav__item--separator">&bullet;</li>
                </ul>
            </nav>
            <nav class="header__top-social top-social">
                <ul class="top-social__list">
                    <li class="top-social__item">
                        <a href="https://www.instagram.com/{{ site.social.instagram }}" class="top-social__link" title="Profil na Instagramie"><img src="{{ asset('build/images/instagram.png') }}" alt="Czarno-białe logo Instagram" class="top-social__icon"></a>
                    </li>
                    <li class="top-social__item">
                        <a href="https://www.facebook.com/{{ site.social.facebook }}" class="top-social__link" title="Strona na Facebooku"><img src="{{ asset('build/images/facebook.png') }}" alt="Czarno-białe logo Facebooka" class="top-social__icon"></a>
                    </li>
                    <li class="top-social__item">
                        <a href="https://github.com/{{ site.social.github }}" class="top-social__link" title="Profil na GitHubie"><img src="{{ asset('build/images/github.png') }}" alt="Czarno-białe logo GitHuba" class="top-social__icon"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
