<aside class="post__sidebar sidebar">
    <section>
        <h2 class="sidebar__header">Informacje</h2>
        <p>Autorem strony jest Arkadiusz Waluk - programista PHP z kilkuletnim stażem. <a href="{{ path('page_about') }}" class="sidebar__link">Więcej o mnie</a>.</p>
        <p>Na blogu znajdziesz głównie wpisy dotyczące programowania oraz informatyki, ale także inne, bardziej luźne przemyślenia po godzinach.</p>
    </section>

    <section>
        <h2 class="sidebar__header">Ostatnie posty</h2>
        <div class="sidebar__posts">
            {% for post in recentPosts %}
                <article class="sidebar__post-preview post-preview">
                    <a href="{{ url('blog_post', {categorySlug: post.category_slug, postSlug: post.slug}) }}" class="post-preview__link">
                        <img src="{{ asset('posts/' ~ post.category_slug ~ '/' ~ post.slug ~ '/thumbnail.jpg') }}" alt="{{ post.main_image_alt }}" class="post-preview__image">
                        <h3 class="post-preview__title post-preview__title--small">{{ post.title }}</h3>
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>
</aside>
