{% extends 'base.html.twig' %}

{% block title %}Blog - kategoria: {{ category.name }}{% endblock %}
{% block description %}Wszystkie wpisy z kategorii {{ category.name }} na blogu Arkadiusza Waluka.{% endblock %}

{% block content %}
    {{ render(controller('App\\Controller\\BlogController::navPart')) }}

    <div class="container">
        <h1 class="main__title main__title--blog">{{ block('title') }}</h1>
        <div class="post-list">
            {% for index, post in posts %}
                <article class="post-list__post-preview post-preview{{ index % 2 == 1 ? ' post-preview--right' }}">
                    <a href="{{ url('blog_post', {categorySlug: post.category_slug, postSlug: post.slug}) }}" class="post-preview__image-link">
                        <img src="{{ asset('posts/' ~ post.category_slug ~ '/' ~ post.slug ~ '/thumbnail.png') }}" alt="" class="post-preview__image">
                    </a>
                    <h2 class="post-preview__title">
                        <a href="{{ url('blog_post', {categorySlug: post.category_slug, postSlug: post.slug}) }}" class="post-preview__title-link">{{ post.title }}</a>
                    </h2>
                    <p class="post-preview__info">
                        Kategoria: <a href="{{ url('blog_category', {categorySlug: post.category_slug}) }}" class="post-preview__info-link">{{ post.category_name }}</a> &bullet;
                        Dodano: <time datetime="{{ post.date|date('c') }}">{{ post.date|date('d.m.Y') }}</time>
                    </p>
                    <p>{{ post.description }}</p>
                </article>
            {% endfor %}
        </div>
        {% include 'blog/parts/pagination.html.twig' %}
    </div>
{% endblock %}
