{% extends 'base.html.twig' %}

{% block title %}Blog - najnowsze posty{% endblock %}
{% block description %}Najnowsze posty na blogu informatycznym Arkadiusza Waluka. {% endblock %}

{% block content %}
    {{ render(controller('App\\Controller\\BlogController::navPart')) }}

    <div class="container">
        <h1 class="main__title main__title--blog">{{ block('title') }}</h1>
        {% for post in posts %}
            <article class="post-list">
                <a href="{{ url('blog_post', {categorySlug: post.category_slug, postSlug: post.slug}) }}" class="post-list__image-link">
                    <img src="{{ asset('posts/' ~ post.category_slug ~ '/' ~ post.slug ~ '/thumbnail.png') }}" alt="" class="post-list__image">{# todo #}
                </a>
                <div class="post-list__data">
                    <h2 class="post-list__title">
                        <a href="{{ url('blog_post', {categorySlug: post.category_slug, postSlug: post.slug}) }}" class="post-list__title-link">{{ post.title }}</a>
                    </h2>
                    <p class="post-list__info">
    {#                    {% if show_category != false %}#}
                            Kategoria: <a href="{{ url('blog_category', {categorySlug: post.category_slug}) }}" class="post-list__info-link">{{ post.category_name }}</a> &bullet;
    {#                    {% endif %}#}
                        Dodano: <time datetime="{{ post.date|date('c') }}">{{ post.date|date('d.m.Y H:i') }}</time>
                    </p>
                    <p>{{ post.description }}</p>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}
