{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <nav class="blog-nav">
        <div class="container">
            <ul class="blog-nav__list">
{#                {%- for item in site.data.categories -%}#}{# todo #}
                    <li class="blog-nav__item"><a href="/blog//" class="blog-nav__link">Kategoria 1</a></li>
                    <li class="blog-nav__item"><a href="/blog//" class="blog-nav__link">Kategoria 2</a></li>
{#                {%- endfor -%}#}
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="main__title main__title--blog">Blog - najnowsze posty</h1>
        {% for post in posts %}
            <article class="post-list">
                <a href="{{ url('blog_post', {categorySlug: post.category_slug, postSlug: post.slug}) }}" class="post-list__image-link">
                    <img src="{{ asset('posts/' ~ post.category_slug ~ '/' ~ post.slug ~ '/thumbnail.png') }}" alt="" class="post-list__image">{# todo #}
                </a>
                <div class="post-list__data">
                    <h2 class="post-list__title">
                        <a href="{{ url('blog_post', {categorySlug: post.category_slug, postSlug: post.slug}) }}" class="post-list__title-link">{{ post.title }}</a>
                    </h2>
                    <p class="post-list__info">
    {#                    {% if show_category != false %}#}
                            Kategoria: <a href="{{ url('blog_category', {categorySlug: post.category_slug}) }}" class="post-list__info-link">{{ post.category_name }}</a> &bullet;
    {#                    {% endif %}#}
                        Dodano: <time datetime="{{ post.date|date('c') }}">{{ post.date|date('d.m.Y H:i') }}</time>
                    </p>
                    <p>{{ post.description }}</p>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}
