{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.description }}{% endblock %}
{% set ogType = 'article' %}

{% block content %}
    {{ render(controller('App\\Controller\\BlogController::navPart')) }}

    <div class="container">
        <article class="post">
            <header class="post__header">
                <h1 class="post__title">{{ block('title') }}</h1>
                <img src="{{ asset('posts/' ~ category.slug ~ '/' ~ post.slug ~ '/main.png') }}" alt="{{ post.main_image_alt }}" class="post__image">
                <div class="post__info">
                    <div class="post__info-base">
                        Kategoria: <a href="{{ url('blog_category', {categorySlug: category.slug}) }}" class="post__info-link">{{ category.name }}</a> &bullet;
                        Dodano: <time datetime="{{ post.date|date('c') }}">{{ post.date|date('d.m.Y') }}</time>
                    </div>
                    <div class="post__info-actions">
                        Udostępnij:
                        <div class="top-social">
                            <ul class="top-social__list">
                                <li class="top-social__item">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(app.request.pathinfo) }}" target="_blank" class="top-social__link" title="Udostępnij wpis na Facebooku"><img src="{{ asset('build/images/facebook.png') }}" alt="Czarno-białe logo Facebooka" class="top-social__icon"></a>
                                </li>
                            </ul>
                        </div>
                        &bullet;&nbsp;<a href="#komentarze" class="post__info-link" title="Przejdź do komentarzy">Komentarze: 11</a>{# todo #}
                    </div>
                </div>
            </header>
            <div class="post__body">
                <div class="post__content content">
                    {{ post.content_html|raw }}

                        <section class="" id="komentarze">
                            <h2>Komentarze</h2>
                            <!-- TODO disqus -->
                        </section>
                </div>
                <aside class="post__sidebar">
                    <!-- TODO sidebar -->
                </aside>
            </div>
        </article>
    </div>
{% endblock %}
