{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.description }}{% endblock %}
{% block og_image %}{{ absolute_url('/posts/' ~ category.slug ~ '/' ~ post.slug ~ '/main.jpg') }}{% endblock %}
{% set ogType = 'article' %}

{% block content %}
    {{ render(controller('App\\Controller\\BlogController::navPart')) }}

    <div class="container">
        <article class="post">
            <header class="post__header">
                <h1 class="post__title">{{ block('title') }}</h1>
                <img src="{{ asset('posts/' ~ category.slug ~ '/' ~ post.slug ~ '/main.jpg') }}" alt="{{ post.main_image_alt }}" class="post__image">
                <div class="post__info">
                    <div class="post__info-base">
                        Kategoria: <a href="{{ url('blog_category', {categorySlug: category.slug}) }}" class="post__info-link">{{ category.name }}</a> &bullet;
                        Dodano: <time datetime="{{ post.date|date('c') }}">{{ post.date|date('d.m.Y') }}</time>
                    </div>
                    <div class="post__info-actions">
                        Udostępnij:
                        <div class="top-social">
                            <ul class="top-social__list">
                                <li class="top-social__item">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(app.request.pathinfo) }}" target="_blank" class="top-social__link" title="Udostępnij wpis na Facebooku"><img src="{{ asset('build/images/facebook.png') }}" alt="Czarno-białe logo Facebooka" class="top-social__icon"></a>
                                </li>
                                <li class="top-social__item">
                                    <a href="https://twitter.com/intent/tweet?text={{ post.title }} {{ absolute_url(app.request.pathinfo) }}" target="_blank" class="top-social__link" title="Udostępnij wpis na Twitterze"><img src="{{ asset('build/images/twitter.png') }}" alt="Czarno-białe logo Twittera" class="top-social__icon"></a>
                                </li>
                            </ul>
                        </div>
                        &bullet;&nbsp;<a href="{{ absolute_url(app.request.pathinfo) }}#disqus_thread" class="post__info-link" title="Przejdź do komentarzy">Komentarze</a>
                    </div>
                </div>
            </header>
            <div class="post__body">
                <div class="post__content content">
                    {{ post.content_html|raw }}

                    <section>
                        <h2 id="komentarze"><a href="#komentarze" class="header-link">Komentarze</a></h2>
                        {% if app.environment == 'prod' and site.disqus_id is not empty %}
                            <div id="disqus_thread"></div>
                            <script>
                                var disqus_config = function () {
                                    this.page.url = '{{ absolute_url(app.request.pathinfo) }}';
                                    this.page.identifier = '{{ post.slug }}';
                                };
                                (function() {
                                    var d = document, s = d.createElement('script');
                                    s.src = 'https://{{ site.disqus_id }}.disqus.com/embed.js';
                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                })();
                            </script>
                            <script id="dsq-count-scr" src="https://{{ site.disqus_id }}.disqus.com/count.js" async></script>
                            <noscript>Włącz JavaScript, aby <a href="https://disqus.com/?ref_noscript">wyświetlić komentarze Disqus.</a></noscript>
                        {% endif %}
                    </section>
                </div>

                {{ render(controller('App\\Controller\\BlogController::sidebarPart')) }}
            </div>
        </article>
    </div>
{% endblock %}
