<!DOCTYPE html>
<html lang="{{ language is defined ? language : 'pl' }}" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock title %} | {{ site.name }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="author" content="Arkadiusz Waluk">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="theme-color" content="#f4f4f4">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:url" content="{{ absolute_url(app.request.pathinfo) }}">
    <meta property="og:title" content="{{ block('title') }} | {{ site.name }}">
    <meta property="og:description" content="{{ block('description') }}">
    <meta property="og:image" content="{% block og_image %}{{ absolute_url(asset('build/images/og.png')) }}{% endblock %}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="{{ ogType ?? 'website' }}">
    <meta property="og:locale" content="{{ language is defined and language == 'en' ? 'en_US' : 'pl_PL' }}">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@{{ site.social.x }}">
    <link rel="icon" href="{{ absolute_url('/favicon.ico') }}" sizes="32x32">
    <link rel="icon" href="{{ absolute_url('/icon.svg') }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ absolute_url('/apple-touch-icon.png') }}">
    {{ encore_entry_link_tags('app') }}
    {% if app.environment == 'prod' and site.google_analytics_id is not empty %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ site.google_analytics_id }}');
        </script>
    {% endif %}
</head>
<body>
    {% include 'parts/header.html.twig' %}
    <main class="main">
        {% block content %}{% endblock %}
    </main>
    {% include 'parts/footer.html.twig' %}
    {{ encore_entry_script_tags('app') }}
</body>
</html>
