<header id="header" class="header">
    <div class="header__container container container--lg">
        {% if logoH1 is defined and logoH1 == true %}
            <h1>
        {% endif %}
        <a href="{{ path('page_index') }}"><img src="{{ asset('build/images/logo.png') }}" alt="Niebieski kwadrat zawierający litery aw przy prawej krawędzi, dalej poza kwadratem po prawej szary napis arkadiusz waluk" class="header__logo"></a>
        {% if logoH1 is defined and logoH1 == true %}
            </h1>
        {% endif %}
        <nav class="header__nav nav">
            <button id="nav-button" class="nav__button" title="Pokaż/ukryj menu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"></path></svg>
            </button>
            <ul id="nav-list" class="nav__list">
                <li class="nav__item"><a href="{{ path('page_about') }}" class="nav__link">o mnie</a></li>
                <li class="nav__item"><a href="{{ path('page_contact') }}" class="nav__link">kontakt</a></li>
                <li class="nav__item"><a href="{{ path('page_english') }}" class="nav__link">english</a></li>
                <li class="nav__item"><a href="{{ path('blog_index') }}" class="button">blog</a></li>
            </ul>
        </nav>
    </div>
</header>